// Your variable overrides
$body-bg: #1f1f1f;
$body-color: #ffffff;
$primary: #f76b50;
$font-family-base: Arial;
$secondary: #8e8e8e;

$jumbotron-bg: #222222;

$h2-font-size: 0.9rem;

h1 {
}

h2 {
  font-size: 3rem;
  text-decoration: underline;
}
.home {
  height: 40px;
  margin: 5px 5px;
  margin-right: 10px;
}

.icons {
  height: 40px;
  margin: 5px 5px;
  margin-right: 10px;
}

// img {
//   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//   filter: grayscale(100%);
// }

.introtext {
  color: white;
  font-size: 1.7rem;
}

.contacttext {
  margin: 0;
  color: $secondary;
  font-size: 0.8rem;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
